<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">

    <link href="../../../templates/kind/css/highlight/okadia.css" rel="stylesheet">
    <link href="../../../templates/kind/css/theme.css" rel="stylesheet">
    <link href="<%- root %>main.css" rel="stylesheet">
  </head>
<body>
  <div class="aigis-container">
    <!-- <%- include('sidemenu') %> -->
    <div class="aigis-contents">
      <div class="aigis-contents__body">
        <header class="aigis-header">
            <svg class="u-pull-left" style="width: 75px;" viewBox="0 0 84 57" xmlns="http://www.w3.org/2000/svg">
              <g fill-rule="nonzero" fill="#5CCABE">
                <path d="M82.188 6.113h-2.745c-1.153 0-1.647.413-1.84 1.625-.11.688-1.097 9.555-1.4 12.28-.74-1.1-2.25-2.175-3.732-2.56-2.91-.744-6.395.826-8.235 3.745-2.415 3.827-2.8 8.123-2.306 12.39.054.387.164.993.356 1.488-.55.662-1.317 1.158-2.306 1.46-2.086.606-3.102-.11-3.047-2.312.028-1.212.577-5.838.632-6.39.74-5.396.686-5.864.41-7.268-.383-1.956-1.673-3.167-3.677-3.332-1.73-.138-3.57.55-4.996 1.707-1.784 1.46-2.663 2.56-4.145 4.516.082-1.018.44-4.488.44-4.818 0-.88-.55-1.24-1.456-1.24h-2.77c-1.237 0-1.786.552-1.923 1.846-.055.468-.933 9.197-1.29 13.024-.275 1.873-1.29 3.635-3.514 4.27-2.086.604-3.102-.112-3.047-2.314.028-1.212 1.428-13.466 1.62-15.283.137-1.102-.44-1.515-1.455-1.515H28.99c-1.235 0-1.784.55-1.92 1.845 0 0-1.51 11.896-1.566 15.035-.055 3.084.933 6.03 5.27 6.086 2.47.027 4.97-1.157 6.973-3.002-.027.22-.027.413-.055.634-.22 2.313-.247 2.12 2.004 2.175.63.027 1.373.055 2.004 0 1.427-.11 1.812-.303 1.95-1.955.22-2.423.466-4.874.85-7.27.522-3.22 1.812-6.14 4.42-8.233.576-.44 1.51-.8 2.278-.468.714.33.77 1.377.686 2.065 0 .055-.44 2.89-.604 4.186-.274 1.734-.466 3.304-.494 6.168l.028-.028c.027 2.946 1.098 5.673 5.27 5.728 2.498.027 5.05-1.184 7.083-3.084.11.22.22.413.33.578 1.783 2.92 6.423 3.167 8.783 1.294.66-.523 1.565-1.35 2.032-2.01-.083.798-.137 1.24-.165 1.707-.027.992.467 1.35 1.345 1.35h3.68c.767 0 1.234-.413 1.344-1.294.41-3.855 3.21-28.582 3.43-31.088.056-1.377-.438-1.735-1.756-1.735zm-7.52 27.48c-.633 1.24-1.868 2.37-2.83 2.782-1.37.58-2.47-.027-3.046-1.487-.823-2.12-.878-4.736-.66-6.526.276-2.175 1.017-3.992 1.923-5.12 1.537-1.874 4.282-2.314 5.737.246-.22 2.176-.768 6.967-1.125 10.106z"/>
                <ellipse cx="31.651" cy="9.225" rx="3.212" ry="3.222"/>
                <path d="M63.165 46.454c-.357-.33-.906-.166-1.757.743-2.8 2.92-6.04 4.654-9.91 5.535-7.302 1.68-16.525-.193-23.965-7.297-4.694-4.46-9.196-12.42-11.255-21.947 4.063-2.616 6.973-5.7 8.373-7.792 1.813-2.7.22-5.205-2.717-5.92-.164-.028-.302-.056-.41-.028-.14.027-.248.165-.303.275-3.487 5.232-7.357 9.638-11.53 12.336l2.25-20.57c.11-.88-.218-1.487-1.18-1.515C9.39.22 7.99.165 6.59.275 5.655.33 5.05.825 4.94 1.955 4.448 7.05.605 41.772.276 44.72c-.11.88.22 1.486 1.18 1.513 1.4.028 2.8.083 4.172-.027.934-.055 1.538-.55 1.648-1.68l1.81-16.522c3.158 10.41 9.582 18.367 15.73 22.745 6.314 4.488 15.62 7.24 23.938 5.672 6.012-1.13 11.42-4.186 14.082-8.04.796-1.13.66-1.625.33-1.928zM9.278 26.93l-.082.056v-.028c.028 0 .055 0 .082-.028z"/>
              </g>
            </svg>

            <span class="u-pull-right">
                <nav class="aigis-categoryList">
                    <%- helper.renderCollectionTree('category') %>
                </nav>
            </span>
        </header>
        <%- include('components') %>
        <footer class="aigis-footer">Last update at <%- timestamp %></footer>
      </div>
    </div>
  </div>
</body>
</html>
